<div class="jumbotron">
	<h1>Rastreamento</h1>
	<p class="lead">Desenvolvida para o processo seletivo do iCasei</p>
	<p>
		<%= link_to "Entrar em Contato", {controller: "contato"}, class: "btn btn-lg btn-success" %>
	</p>
</div>