<h2>Sobre</h2>
<div class="panel panel-default">
  <div class="panel-body">
	<p>Aplicação criada para testar o conhecimento dos candidatos para o processo seletivo do iCasei.</p>
	<p>Desenvolvida em Rails, utiliza o banco MongoDB para logar os acessos e salvar os contatos enviados via formulário</p>
  </div>
</div>